<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../插件/vue.js"></script>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/demo.css">
</head>
<body>
    <div class="app">
        <form action="./demo2.html">
            用户名：<input type="text" v-model="userid">
            密码：<input type="password" v-model="password">
            <input type="submit">
        </form>
        <router-link :to="{userid:{uerid}}" href="./demo2.html"></router-link>
    </div>
    <script>
        
        new Vue({
            el:'.app',
            data:{
                userid:''
            }
        })
    </script>
</body>
</html>